@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Variable Root Scope for any Color etc*/

:root{
    --primary-color: rgb(252, 92, 0);
    --secondary-color: #fff;
    --third-color: navy;
}

/* Global Setup ito */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.4;
    background-color: #eeeeee;
}

/* Mga Set up for reset bawat Element */
a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .55rem;
    line-height: 1.3;
}

/* Set Color po ng Showcase Content dito ko nilagay sa global*/

.build-color{
    color: var(--primary-color);
}

.we-color{
    color: var(--secondary-color);
}

.design-color{
    color: var(--primary-color);
}

.and-color{
    color: var(--secondary-color);
}

/* Set ng Bawat Container Element */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

/* Header Section  */
#header .contain {
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-columns: 6fr 1.2fr 2.4fr 2fr;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

#header .contain .logo {
    width: 180px;
}

#header .title {
    text-transform: uppercase;
    padding: 0;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 19px;
    color: var(--third-color);
}

#header .items {
    border-right: 1px #444444 solid;
}

#header i {
    font-size: 25px;
    color: var(--primary-color);
}

#header .title-head {
    padding: 0;
    margin: 0;
    font-size: 15px;
    margin-left: 10px;
    color: var(--primary-color)
}


/* Navbar Section */
.navbar {
    display: flex;
    position: sticky;
    margin-top: 20px;
    background: var(--third-color);
    overflow: hidden;
    color: var(--secondary-color);
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li a {
    text-transform: uppercase;
    color: var(--secondary-color);
    padding: 0.75rem;
    margin: 0 1rem;
}

.navbar ul li a:hover {
    background: var(--primary-color);
    border-radius: 5px;
}

.navbar .search input {
    content: 'f002';
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    margin-right: 20px;
}


/* Showcase Area ung Malaki image sa baba */
#showcase {
    background: #333333 url('../img/construction-zoom-background-6.jpg') no-repeat center center/cover;
    height: 80vh;
    color: #fff;
}

#showcase .showcase-content .l-heading {
    font-size: 60px;
}

#showcase .showcase-content .lead{
    margin-top: 0;
    font-size: 25px;
    color: var(--secondary-color);
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    /* Overlay */
    /* Para medyo Transparent ung Image */
    position: relative;
    top: 65;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}


/* Responsive Design */

@media(max-width: 500px) {
    #header .contain {
        grid-template-columns: 1fr;
    }
    #header .contain .items {
        display: none;
    }
    #header .contain .last-div {
        display: none;
    }
    #header .contain .header-logo {
        text-align: center;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar .logo {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .navbar ul {
        padding: 0.5rem;
    }
}